.container {
    padding: rem(10);
}

.title {
    // height: 60px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3px;
  padding: rem(5);
}

.price {
    padding: rem(15) 0;
}

.content {
    padding: rem(10);
}