@import "@/styles/variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

//font

@for $i from 1 through length($headingFontList) {
  /* 리스트 길이 만큼 순회 */
  h#{$i} {
    font-size: nth($headingFontList, $i);
    font-weight: bold;
    color: $color-text1;
  }
}

.text-body {
  font-size: $fs-5;
  font-weight: $fw-medium;
  color: $color-text1;
}

.text-body2 {
  font-size: $fs-6;
  font-weight: $fw-medium;
  color: $color-text1;
}

.text-caption {
  font-size: $fs-7;
  font-weight: $fw-medium;
  color: $color-text1;
}

.text-button {
  font-size: $fs-4;
  font-weight: $fw-medium;
  color: $color-text1;
}

.text-logo {
  font-family: "Oliver";
  font-size: $fs-4;
  color: $color-text1;
}
