@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 360px;
  max-width: 600px;
  margin: 0;
}

//font
@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@for $i from 1 through length($headingFontList) {
  /* 리스트 길이 만큼 순회 */
  h#{$i} {
    font-size: nth($headingFontList, $i);
    font-weight: bold;
    color: $color-text1;
    margin: 0;
  }
}

.text-body {
  font-size: $fs-5;
  font-weight: $fw-medium;
  color: $color-text1;
}

.text-body2 {
  font-size: $fs-6;
  font-weight: $fw-medium;
  color: $color-text1;
}

.text-caption {
  font-size: $fs-7;
  font-weight: $fw-medium;
  color: $color-text1;
}

.text-button {
  font-size: $fs-4;
  font-weight: $fw-medium;
  color: $color-text1;
}

.text-logo {
  font-family: "Oliver";
  font-size: $fs-4;
  color: $color-text1;
}

.text-big-logo {
  font-family: "Oliver";
  font-size: rem(40);
  color: $color-text1;
}

.text-deco {
  font-family: "UhBeeSe_hyun";
  font-size: $fs-3;
  color: $color-text1;
}

.c-text2 {
  color: $color-text2;
}

.c-text3 {
  color: $color-text3;
}
