.card {
  // @include flex(flex-start, flex-start, column);
  width: fit-content;
  img {
    width: 43vw;
    min-width: rem(156);
    min-height: rem(156);
    max-width: rem(275);
    border-radius: rem(15);
  }
  span {
    display: block;
  }
}
