.myList {
    ul li {
        margin-bottom: rem(5);
        padding: rem(10);

        div {
            width: 100%;
            span {
                font-size: rem(16);
                font-weight: 500;
                padding: rem(5) rem(20);
                width: 100%;
            }
        }
    }
}