.container {
    // height: calc(100vh - 80px);
    overflow: auto;
    margin: rem(10) rem(16) rem(110);
    // margin-bottom: 110px;
    // 너비가 432px 이상일 때 좌우 여백을 10px으로 설정
}

.ul {
    // height: 100px;
    li {
        height: rem(60);
        padding: rem(10);
        margin: rem(10);
        border: rem(1) solid #000;
    }
}