.container {
    // width: 20%;
    // height: 76px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(30) rem(20);
    margin-bottom: rem(10);
}

.nickname {
    width: 100%;
    // height: 36px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    // 줄바꿈 시 단어를 분리하지 않음
    word-break: keep-all;
}

.responsiveImg {
    width: 20%; /* 화면 너비의 20% */
    min-width: rem(70); /* 최소 너비는 70px */
    max-width: rem(90); /* 최대 너비는 90px */
    height: auto; /* 이미지 비율을 유지 */
  }