.container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: rem(16) 0;
  width: 100%;
  max-width: 600px;
  z-index: 1200;
  background-color: white;
  display: flex;
  justify-content: center;
}

.spacer {
  height: rem(74);
}

.child {
  @include flex(center, space-around, row);
  gap: rem(12);
  width: calc(100% - rem(52));
}

.btn {
  @include flex();
  background-color: $color-yellow;
  border-radius: rem(10);
  width: 100%;
  &:disabled {
    background-color: $color-text4;
    color: $color-text3;
  }
  cursor: pointer;
}

.wide {
  @include text-button;
  height: rem(56);
}

.normal {
  @include text-body;
  height: rem(48);
}

.gray {
  background-color: $color-text5;
}

.small {
  @include text-caption;
  @include flex();
  height: fit-content;
  padding: rem(10) rem(20);
  background-color: $color-text4;
  border-radius: rem(30);
  width: fit-content;
  cursor: pointer;
  &:disabled {
    background-color: $color-text4;
    color: $color-text3;
  }
}
