.card {
    border: rem(0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(15);

    .cardMiddle {
        width: 25%;
        min-width: rem(120);
        margin-left: rem(4);
        padding: auto;
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;

        @media screen and (min-width: 370px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}