server:
  port: 8080
  servlet:
    context-path: /

spring:
  profiles:
    default: dev
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  batch:
    job:
      enabled: true # false면 jobParameter가 존재하더라도 그 job이 실행되지 않는다
    jdbc:
      initialize-schema: always # spring batch 정보를 저장하는 테이블들을 생성

logging:
  level:
    org.hibernate.type: debug
    com.ssafy.kkoma: debug

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
